body{
    background-image: url(./assets/rick-y-morty.jpg);
   
}

.link{
    text-decoration: none;
    color:  #198754;;
}

.link:hover{
    text-decoration: underline;
    font-weight: 700;
    color:  #198754;
    
}
